.menutop {
    margin:0;
}
.menutop li {
    height:auto;
    margin:0;
    padding:0;
    position:relative;
    list-style:none;
}
.menutop li .item {
    display:block;
    margin:0;
    padding:0;
    text-decoration:none;
    float:none;
    width:auto;
    cursor:pointer;
    position:relative;
    outline:none;
}
.menutop li .fusion-submenu-wrapper {
    float:none;
    left:-999em;
    position:absolute;
    z-index:500;
}
.menutop li:hover ul {
    top:0;
}
.menutop li:hover li ul {
    top:-999em;
}
.menutop em {
    font-size:80%;
    font-weight:normal;
    display:block;
    font-style:normal;
}
.rt-fusionmenu {
    float:left;
}
.menutop {
    padding:0 10px;
    line-height:1em;
}
.menutop li.root {
    float:left;
}
.menutop li.root > .item {
    font-size:1em;
    z-index:100;
    height:36px;
    padding:12px 0;
    line-height:1.8em;
}
.menutop li.root > .item > span {
    display:block;
    margin:0;
    outline:none;
    padding:5px 15px;
    width:auto;
    border-radius:5px;
}
.menutop li.root > .item em {
    font-size:10px;
    display:block;
    text-transform:lowercase;
    line-height:0.3em;
}
.menutop li.root > .item img {
    margin:0 4px 0 0;
    vertical-align:text-bottom;
}
.menutop li.root .subtext span {
    line-height:1.9em;
}
.menutop li.parent.root .item > span {
    padding-right:22px;
}
.menutop li.parent.root .item .daddyicon {
    width:12px;
    height:12px;
    display:block;
    position:absolute;
    top:50%;
    margin-top:-6px;
    right:4px;
    line-height:12px;
    font-size:0.8em;
    font-family:FontAwesome;
}
.menutop li.parent.root .item .daddyicon:before {
    content:"\f078";
}
.fusion-js-container {
    display:block;
    height:0;
    left:0;
    overflow:visible;
    position:absolute;
    top:0;
    z-index:600000 !important;
    background:transparent !important;
}
.fusion-js-subs {
    display:none;
    margin:0;
    overflow:hidden;
    padding:0;
    position:absolute;
}
.menutop ul {
    padding:0;
    margin:0;
    float:left;
}
.menutop ul li {
    padding:0;
    display:block;
}
.menutop ul li > .item {
    padding:0 15px;
    height:auto;
    display:block;
    font-size:1em;
}
.menutop ul li > .item span {
    display:block;
    width:100%;
    overflow:hidden;
    line-height:3em;
}
.menutop ul li .item {
    cursor:pointer;
    outline:none;
    position:relative;
}
.menutop ul li .item img {
    float:left;
    margin:8px 6px 0 0;
    vertical-align:top;
}
.menutop ul li .nolink span {
    display:block;
}
.menutop ul li .subtext span {
    line-height:1.9em;
}
.menutop ul li .subtext em {
    line-height:0.6em;
    padding-bottom:7px;
    text-transform:lowercase;
}
.menutop ul li > .daddy span:before {
    font-family:FontAwesome;
    content:"\f054";
    position:absolute;
    top:2px;
    right:10px;
    font-size:0.8em;
}
.menutop ul .grouped-parent > .daddy span:before {
    display:none;
}
.menutop .drop-bot {
    height:1px;
    overflow:hidden;
    clear:both;
}
.menutop .fusion-submenu-wrapper {
    height:auto !important;
    -webkit-transition:box-shadow 0.4s ease-in;
    -moz-transition:box-shadow 0.4s ease-in;
    -o-transition:box-shadow 0.4s ease-in;
    -ms-transition:box-shadow 0.4s ease-in;
    transition:box-shadow 0.4s ease-in;
}
.menutop li.root:hover > .fusion-submenu-wrapper {
    top:35px;
    left:0;
}
.menutop ul li:hover > .fusion-submenu-wrapper {
    left:180px;
    top:0;
}
.menutop .fusion-grouped {
    padding-bottom:10px;
    display:block;
}
.menutop .fusion-grouped ol {
    padding:0;
}
.menutop .fusion-grouped ol li {
    padding:0;
}
.menutop .fusion-grouped ol li .item {
    padding:0 8px;
}
.menutop .fusion-grouped ol li span {
    font-size:85%;
    line-height:2em;
}
.menutop .type-module ol {
    padding:0;
}
.menutop .type-module ol li {
    padding:0;
}
.menutop .type-module ol li .fusion-module {
    padding:0;
    background:none;
    overflow:hidden;
    display:block;
}
.menutop .type-module ol li .fusion-module em {
    display:inline;
    font-size:inherit;
    font-style:italic;
}
.menutop .type-module ol li .fusion-module a {
    font-size:inherit;
    line-height:130%;
}
.menutop .type-module ol li .fusion-module p {
    line-height:160%;
}
.menutop .type-module ol li .fusion-modules {
    background:none;
    display:block;
}
.menutop .type-module ol li .fusion-modules p {
    line-height:160%;
}
.menutop .type-module ol li .fusion-modules.item {
    padding:0;
}
.menutop ul li.grouped-parent > .daddy span {
    background:none;
    border-top:1px solid #333 !important;
    color:white;
}
.menutop {
    list-style:none;
    margin:-5px !important;
    padding:0;
    line-height:1em;
    display:inline-block;
    background:none;
    border:0;
}
.menutop li {
    border-right:none;
}
.menutop li.root {
    float:left;
    border-top:4px solid transparent;
    margin-top:-4px;
}
.menutop li.root > .item {
    white-space:nowrap;
    display:block;
    padding:0;
    font-family:"Yanone Kaffeesatz", arial, tahoma !important;
    font-size:18px;
    z-index:100;
    cursor:pointer;
    position:relative;
    margin:0;
    outline:none;
    height:2.1em;
    text-transform:uppercase;
}
.menutop li.root > .item > span {
    background:none !important;
    box-shadow:none !important;
    text-shadow:none;
    color:#888;
    line-height:2.2em;
    padding:0 15px;
}
.menutop li.root > .item em {
    font-size:10px;
    display:block;
    text-transform:lowercase;
    line-height:0.3em;
}
.menutop li.root > .item img {
    margin:0 4px 0 0;
    vertical-align:text-bottom;
}
.menutop li.root > .item:hover {
    background:none;
    color:#fff;
}
.menutop li.root .subtext span {
    line-height:1.9em;
}
.menutop li.root.active {
    border-top:4px solid #4B93AD;
    margin-top:-4px;
}
.menutop li.root.active > .item {
    background:none;
    color:0;
}
.menutop li.root.active > .item > span {
    color:#fff;
}
.menutop li.root:hover {
    border-top:4px solid #4B93AD;
    margin-top:-4px;
    -webkit-transition:all .1s ease-in;
    -moz-transition:all .1s ease-in;
    -o-transition:all .1s ease-in;
    -ms-transition:all .1s ease-in;
    transition:all .1s ease-in;
}
.menutop li.root:hover > .item > span {
    color:#fff;
}
.menutop li.parent.root .item > span {
    padding:0 20px 0 15px;
    line-height:2.2em;
}
.menutop li.parent.root .item .daddyicon {
    background:url(../images/jf/menus/menutop-daddy.png) 90% 50% no-repeat;
    padding:0 25px 0 15px;
    margin-top:-5px;
    right:5px;
}
.menutop li.parent.root .item .daddyicon:before {
    content:none;
}
.menutop li.active.root.f-mainparent-itemfocus > .item, .menutop li.root.f-mainparent-itemfocus > .item {
    background:none;
}
.menutop li.active.root.f-mainparent-itemfocus > .item span, .menutop li.root.f-mainparent-itemfocus > .item span {
    color:#fff;
}
.menutop ul {
    margin:0 -1px -1px 0;
}
.menutop ul li {
    border:none;
}
.menutop ul li > .item {
    padding:0 15px;
    height:auto;
    display:block;
    font-size:1em;
}
.menutop ul li > .item span {
    display:block;
    width:100%;
    overflow:hidden;
    line-height:2em;
}
.menutop ul li > .item:hover {
    color:#fff;
    box-shadow:inset 0 0 15px rgba(255, 255, 255, 0.1);
    border:0;
    -webkit-transition:all .1s ease-in;
    -moz-transition:all .1s ease-in;
    -o-transition:all .1s ease-in;
    -ms-transition:all .1s ease-in;
    transition:all .1s ease-in;
}
.menutop ul li .item {
    font-family:"Yanone Kaffeesatz", arial, tahoma !important;
    font-size:18px;
    text-shadow:0 -1px 0 black;
    color:#888;
}
.menutop ul li .item img {
    float:left;
    margin:8px 6px 0 0;
    vertical-align:top;
}
.menutop ul li .nolink span {
    display:block;
}
.menutop ul li .subtext span {
    line-height:1.9em;
}
.menutop ul li .subtext em {
    line-height:0.6em;
    padding-bottom:7px;
    text-transform:lowercase;
}
.menutop ul li > .daddy span {
    background:url(../images/jf/menus/dropdown-daddy.png) 100% 50% no-repeat;
}
.menutop ul li > .daddy span:before {
    display:none;
}
.menutop ul li.parent > .item:hover {
    border-right:7px solid #4B93AD;
}
.menutop ul .grouped-parent > .daddy span:before {
    display:none;
}
.menutop .drop-bot {
    height:1px;
    overflow:hidden;
    clear:both;
}
.menutop .fusion-submenu-wrapper {
    background:#111;
    background:rgba(0, 0, 0, 0.8);
    box-shadow:none;
    border:none;
    border-bottom:none;
    border-radius:0 0 2px 2px;
    -moz-border-radius:0 0 2px 2px;
    -o-border-radius:0 0 2px 2px;
    -webkit-border-radius:0 0 2px 2px;
}
.menutop .fusion-submenu-wrapper li.active a, .menutop .fusion-submenu-wrapper li.parent.active {
    border-right:5px solid #4B93AD;
}
.menutop .fusion-js-subs {
    padding-top:0px !important;
    padding-left:8px !important;
    margin-top:23px;
}
.menutop .fusion-js-subs .fusion-submenu-wrapper.level3, .menutop .fusion-js-subs .fusion-submenu-wrapper.level4, .menutop .fusion-js-subs .fusion-submenu-wrapper.level5, .menutop .fusion-js-subs .fusion-submenu-wrapper.level6 {
    margin:0 0 0 -1px !important;
}
